@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0px;
  zoom: 80%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #2f3542;

}

#snake-game {
  background: #6ab04c;
  margin-top: 35%;
  transform: translateY(-50%);
  border: 20px solid black;

}

.menu {
  position: fixed;
  width: 640px;
  height: 640px;
  left: 50%;
  margin-top: 35%;
  transform: translate(-50%, -50%);
  background: #000;
  z-index: 999;
}

.overlay {
  position: fixed;
  width: 640px;
  height: 640px;
  left: 50%;
  margin-top: 35%;
  transform: translate(-50%, -50%);
  background: #6ab04c;
  z-index: 999;
}

.btnPlayAgain {
  color: #6ab04c;
  background: transparent;
  margin-top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  border: 1px solid #6ab04c;
  padding: 1em;
  font-family: 'Press Start 2P', cursive;
}

.btnPlayAgain:hover {
  color: #000;
  background: #6ab04c;
}

.score {
  position: fixed;
  color: #fff;
  top: 1em;
  left: 0;
  right: 0;
  font-family: 'Press Start 2P', cursive;
}